.line {
  height: 2px;
  background-color: white;
}

body {
  overflow-x: hidden;
  color: white;
  font-family: "Roboto", sans-serif;
}

.main {
  min-height: 57rem;
}

.intro-text {
  font-size: 4rem;
}

/* Work Section */
@keyframes clear-anim {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

.glass {
  background-color: #395b64;
  opacity: 0.5;
}

.glass:hover {
  cursor: pointer;
  animation-name: clear-anim;
  animation-duration: 2s;
}

.left {
  left: -30%;
  z-index: -100;
  opacity: 0.5;
}

.right {
  left: 30%;
  z-index: -100;
  opacity: 0.5;
}

.left-button {
  left: -30%;
  width: 30%;
}

.right-button {
  left: 100%;
  width: 30%;
}

/* Noteworthy projects Section */
@keyframes underline-anim {
  from {
    width: 0;
  }

  to {
    width: 7.2rem;
  }
}

.view-archive {
  color: #03c988;
}

.view-archive:hover > .underline {
  display: block;
  position: absolute;
  height: 1px;
  width: 7.2rem;

  background-color: #03c988;
  animation-name: underline-anim;
  animation-duration: 1s;
}

.project-box {
  height: 20rem;
  cursor: pointer;
}

/* Noteworthy projects folder icons */
.folder {
  position: relative;
  font-size: 2.7rem;
  left: -0.2rem;
}

/* apply to buttons to see additional information */
@keyframes additional-information-anim {
  from {
    background-color: rgba(3, 201, 136, 0);
  }

  to {
    background-color: rgba(3, 201, 136, 0.2);
  }
}

.additional-information {
  background-color: rgba(255, 0, 0, 0);
  padding: 1rem 1.6rem 1rem 1.6rem;
  color: rgb(3, 201, 136);
  border-color: rgb(3, 201, 136);
  border-radius: 4px;
  border-style: solid;
  font-size: 0.85rem;
}

.additional-information:hover {
  background-color: rgba(3, 201, 136, 0.2);
  animation-name: additional-information-anim;
  animation-duration: 0.3s;
}
