<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>No need for title here</title>
</head>

<body>

	<div th:fragment="projectslide" id="projectslide"
		class="carousel slide w-100 mb-5">
		<div class="carousel-indicators">
		</div>

		<div class="carousel-inner">



		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#projectslide" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#projectslide" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>




</body>
</html>